body{
	font: 16px/1.5 Arial, Helvetica,sans-serif;
	background-color:black;
	padding:0;
	margin:0;
}
.container{
	width:100%;
	margin:auto;
	overflow:hidden;
}
#AssassinsCreed{
	background:url('../img/AssassinsCreed.jpg');
	background-attachment:fixed;
	text-align:justify;
	background-size:cover;
	background-position:center;
	border:2px solid black;
	font-size: 220px;
	padding: 0 130px 0 130px;
	text-shadow: 5px 5px 15px #ffffff;
}

#Jigsaw{
	background:url('../img/Saw.jpg');
	background-attachment:fixed;
	text-align:justify;
	background-size:cover;
	background-position:center;
	border:2px solid black;
	font-size: 220px;
	padding: 0 130px 0 130px;
	text-shadow: 5px 5px 15px #ffffff;
}

#Vikings{
	background:url('../img/Vikings.jpg');
	background-attachment:fixed;
	text-align:justify;
	background-size:cover;
	background-position:center;
	border:2px solid black;
	font-size: 220px;
	padding: 0 130px 0 130px;
	text-shadow: 5px 5px 15px #ffffff;
}

#FiveFingerDeathPunch{
	background:url('../img/FiveFingerDeathPunch.jpg');
	background-attachment:fixed;
	text-align:justify;
	background-size:cover;
	background-position:center;
	border:2px solid black;
	font-size: 220px;
	padding: 0 130px 0 130px;
	text-shadow: 5px 5px 15px #ffffff;
}

/*Горна част*/
header{
	padding-top:0px;
	min-height:150px;
}

header  {
	border-style: solid;
	border-width: 5px;
	
}

header nav#butons ul li{
	float:left;
	display:inline;
	padding-top:45px;
	padding-left:95px;
}

header nav#butons ul li a{
	font-size:28px;
}

header nav#butons ul li#opacity{
	color:white;
	font-size:28px;
	opacity:0.2;
}

ul{
	margin:0;
	padding:0;
}

/*Долната част*/
footer{
	padding:6px;
	margin-top:6px;
	color:#ffffff;
	background-color:#000000;
	text-align:unset;
	border-top-style: solid;
	border-top-width: 5px;
	
}

footer p i {
	margin: 85%;
}

footer li{
	float:left;
	color:#ffffff;
	font-size:20px;
	display:inline;
	padding: 0 30px 0 30px;
}

/*Ховър ефект*/

li:hover{
	font-weight:bold;
	font-family:Cursive;
}

div span:hover{
	font-weight:bold;
}

li#ABCD{
	font-family:Cursive;
}

li#ABCD:hover{

}
p:hover{
	font-weight:bold;
}
h1{
	color:white;
	text-shadow: 4px 5px 8px;
	font-size:30px;
}

h1:hover{
	color:red;
	font-family:Cursive;
}

h2{
	color:white;
	text-shadow: 4px 5px 8px;
}

h2:hover{
	color:red;

	font-family:Cursive;
}

h3:hover{
	font-weight:bold;
}
span.letters:hover{
	color:red;
	font-family:Cursive;
}

span.letters#small:hover{
	color:red;
	font-family:Cursive;
}
span.letters#small2:hover{
	color:red;
	font-family:Cursive;
}
span.letters#small3:hover{
	color:red;
	font-family:Cursive;
}


/*Посетена хипервръзка*/
a:visited {color:white;}
a:active {color:red;}
a span:active {color:purple;}
a:link {color:white;}
a:link {text-decoration:none;}

/*Голяма буква*/

#Alphabet{
	list-style-type:none;
	float: left;
	padding: 40px 20px 60px 50px;
}

#ABCD{
	list-style-type:none;
	float: left;
	padding: 40px 10px 0px 10px;
}

span.letters{
width:0.7em;
font-size:1050%;
font-family:Arial;
line-height:110%;
}

li#Alphabet span:hover{
transform: rotate(360deg);
}

span.letters#small{
width:0.7em;
font-size:200%;
font-family:Arial;
}

span.letters#small2{
width:0.7em;
font-size:100%;
font-family:Arial;
}

span.letters#small3{
width:0.7em;
font-size:50%;
font-family:Arial;
}

/*background картинка*/
section#GamesBackground{
			background:url('../img/AssassinsCreedGamesBackground.jpg');
			background-size:cover;
			background-position:center;
			color:#ffffff;
			background-attachment:fixed;
			text-align:justify;
			padding-left:50px;
		}
		
section#MoviesBackground{
			background:url('../img/Deadpool.jpg');
			background-size:cover;
			background-position:center;
			color:#ffffff;
			background-attachment:fixed;
			text-align:justify;
			padding-left:50px;
		}
		
section#SerialsBackground{
			background:url('../img/GOTBackground.jpg');
			background-size:cover;
			background-position:center;
			color:#ffffff;
			background-attachment:fixed;
			text-align:justify;
			padding-left:50px;
		}

section#MusicBackground{
			background:url('../img/Disturbed.jpg');
			background-size:cover;
			background-position:center;
			color:#ffffff;
			background-attachment:fixed;
			text-align:justify;
			padding-left:50px;
		}
		
/*Таблица игри*/

#Games_Table  tr td{
	padding-right: 40px;
}

.Games img{
	transition-duration:0.5s;
	border-style: solid;
	border-width: 2px;
	border-radius:10px;
	border-color: white;
}

.Games{
	color:white;
}

.Games img:hover{
	transform:scale(1.1);
	z-index:2;
}

/*Таблица сериали*/
#Serials_Table tr td{
	padding-right: 40px;
}

#Seasons_Table{
	text-align:center;
	padding: 10px 30px 20px 10px;
	margin:auto;
}

.Seasons{
	color:white;
	margin:auto;
}

.Seasons img{
	border-style: solid;
	border-width: 2px;
	border-radius:10px;
	border-color: white;
}

.Seasons img:hover{
	transform:rotate(5deg);
	transition:2s;
}

.Seasons_Animation_Characters{
	color:white;
	width: 1200px;
	margin:auto;
	text-align:center;
}

.Seasons_Animation_Characters img{
	width: 100%;
  height: auto;
}

.Seasons_Animation_Characters:hover img{
	opacity:.3;
}

.Seasons_Animation_Characters img:hover{
	opacity:1;
	transform: rotateY(180deg);
	transition:2s;

}

.Serials{
	color:white;
}

.Serials img{
	transition-duration:0.5s;
	border-style: solid;
	border-width: 2px;
	border-radius:10px;
	border-color: white;
}

.Serials img:hover{
	transform:scale(1.1);
	z-index:2;
}

/*Таблица Филми*/
#Movies_Table tr td{
	padding-right: 40px;
}

#Trailer_Table{
	text-align:center;
	padding: 10px 30px 20px 10px;
	margin:auto;
}

.Movies{
	color:white;
}

.Movies img{
	transition-duration:0.5s;
	border-style: solid;
	border-width: 2px;
	border-radius:10px;
	border-color: white;
}

.Movies img:hover{
	transform:scale(1.1);
	z-index:2;
}


/*Таблица Музика*/
#Music_Table tr td{
	padding-right: 40px;
	float:left;
}

#Music_Table{
	text-align:left;
	padding: 10px 30px 20px 10px;
}

.Music{
	color:white;
}

.Music img{
	transition-duration:0.5s;
	border-style: solid;
	border-width: 2px;
	border-radius:10px;
	border-color: white;
}

.Music img:hover{
	transform:scale(1.1);
	z-index:2;
}


/*Видео Игри*/
#video{
	text-align:center;
	padding: 0px 0px 0px 0px;
	margin:auto;
	
}

/*Навигация Филми*/
nav#NavigationMenuMovies{
	width:80px;
	text-align:center;
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -90px;
	z-index: 1000;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
}

nav#NavigationMenuMovies ul{
	
	padding-top: 0px;
}

nav#NavigationMenuMovies ul li{
	list-style: none;
	padding: 0px 0px;
	font-size:14px;
}

#toggleMenuMovies {
	width:50px;
	height:50px;
	background:url('../img/rebel-logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	right: 100px;
	z-index: 1050;
	cursor: pointer;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	opacity:0.5
}

#toggleMenuMovies:hover {
	transform: rotate(360deg);
	opacity:1.0;
}



/*Навигация Игри*/
nav#NavigationMenuGames{
	width:80px;
	text-align:center;
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -90px;
	z-index: 1000;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
}

nav#NavigationMenuGames ul{
	padding-top: 0px;
}

nav#NavigationMenuGames ul li{
	list-style: none;
	padding: 0px 0px;
	font-size:16px;
}

#toggleMenuGames {
	width:50px;
	height:60px;
	background:url('../img/assasins-creed-logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	right: 100px;
	z-index: 1050;
	cursor: pointer;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	opacity:0.5
}

#toggleMenuGames:hover {
	transform: rotate(360deg);
	opacity:1.0;
}

/*Навигация Сериали*/
nav#NavigationMenuSerials{
	width:80px;
	text-align:center;
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -90px;
	z-index: 1000;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
}

nav#NavigationMenuSerials ul{
	padding-top: 0px;
}

nav#NavigationMenuSerials ul li{
	list-style: none;
	padding: 0px 0px;
	font-size:14px;
}

#toggleMenuSerials {
	width:60px;
	height:60px;
	background:url('../img/vikings-logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	right: 100px;
	z-index: 1050;
	cursor: pointer;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	opacity:0.5
}

#toggleMenuSerials:hover {
	transform: rotate(360deg);
	opacity:1.0;
}

/*Навигация Музика*/
nav#NavigationMenuMusic{
	width:80px;
	text-align:center;
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -90px;
	z-index: 1000;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
}

nav#NavigationMenuMusic ul{
	
	padding-top: 0px;
}

nav#NavigationMenuMusic ul li{
	list-style: none;
	padding: 0px 0px;
	font-size:14px;
}

#toggleMenuMusic {
	width:80px;
	height:60px;
	background:url('../img/killswitch-engage-logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	right: 100px;
	z-index: 1050;
	cursor: pointer;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	opacity:0.5
}

#toggleMenuMusic:hover {
	transform: rotate(360deg);
	opacity:1.0;
}

/*ховер ефекти на списъци*/
ul li ul li{
	display:none;
}

ul li:hover ul li{
	display:block;
}

/*Компаний лого*/

#CompanyBorders{
	border-style: solid;
	border-width: 5px;
	border-top-color: white;
}

.CompanyLogos img{
	border-style: solid;
	border-width: 2px;
	border-radius:10px;
	border-color: white;
}
.CompanyLogos tr td img{
	width:180px;
	height:150px;
	padding:0px;
	margin-left:12px;
	margin-bottom:6px;
	margin-top:6px;
	filter: grayscale(100%);
	transition: .5s ease-in-out;
	text-align:justify;
}

.CompanyLogos tr td img:hover{
	filter: grayscale(0%);
	cursor:pointer;
}

/*Тагове*/

.tags{
	margin-top:5px;
}
.tags span{
	padding: 3px 6px;
	margin-right: 2px;
}
.tags span.action{
	background: #0000ff;
	border-radius:10px;
}
.tags span.asian{
	background: red;
	border-radius:10px;
	color: yellow;
}
.tags span.animation{
	background: red;
	border-radius:10px;
	color: black;
}
.tags span.adventure{
	background: #e67300;
	border-radius:10px;
}
.tags span.crime{
	background: yellow;
	border-radius:10px;
	color: black;
}
.tags span.comedy{
	background: #00ff00;
	border-radius:10px;
	color: black;
}
.tags span.drama{
	background: #b30059;
	border-radius:10px;
}
.tags span.fantasy{
	background: #b800e6;
	border-radius:10px;
}
.tags span.family{
	background: #ffffff;
	border-radius:10px;
	color: black;
}
.tags span.horror{
	background: #ff3300;
	border-radius:10px;
}
.tags span.history {
	background: #996633;
	border-radius:10px;
}
.tags span.mystery {
	background: #00cccc;
	border-radius:10px;
	color: black;
}
.tags span.romantic {
	background: hotpink;
	border-radius:10px;
}

.tags span.thriller {
	background: #009900;
	border-radius:10px;
}
.tags span.war {
	background: gray;
	border-radius:10px;
}
.tags span.western {
	background: #888844;
	border-radius:10px;
}

.tags span.shooter {
	background: white;
	border-radius:10px;
	color: red;
}

.tags span.stealth{
	background: green;
	border-radius:10px;
	color: blue;
}

.tags span.rpg {
	background: white;
	border-radius:10px;
	color: green;
}

/*Слайдщоу Игри скрииншоти*/
.txt{
	text-align: center;
	
}

.SlideShow{
	margin:0 auto;
	padding-top:0px;
	height:840px;
	box-sizing: border-box;
	text-align: center;
	
}

.content{
	margin:auto;
	width:400px;
	perspective:1500px;
	position:relative;
	padding-top:10px;
	
}

.ContentGames{
	width:100%;
	position:absolute;
	float:right;
	animation:rotar 35s infinite linear;
	transform-style:preserve-3d;
	text-align:center;
	
}

.ContentGames:hover{
	animation-play-state:paused;
	cursor:pointer;
}

.ContentGames figure{
	width:100%;
	height:250px;
	border:1px solid #00000;
	overflow:hidden;
	position:absolute;
	
}

.ContentGames figure:nth-child(1){
	transform:rotateY(0deg) translateZ(600px);
}
.ContentGames figure:nth-child(2){
	transform:rotateY(40deg) translateZ(600px);
}
.ContentGames figure:nth-child(3){
	transform:rotateY(80deg) translateZ(600px);
}
.ContentGames figure:nth-child(4){
	transform:rotateY(120deg) translateZ(600px);
}
.ContentGames figure:nth-child(5){
	transform:rotateY(160deg) translateZ(600px);
}
.ContentGames figure:nth-child(6){
	transform:rotateY(200deg) translateZ(600px);
}
.ContentGames figure:nth-child(7){
	transform:rotateY(240deg) translateZ(600px);
}
.ContentGames figure:nth-child(8){
	transform:rotateY(280deg) translateZ(600px);
}
.ContentGames figure:nth-child(9){
	transform:rotateY(320deg) translateZ(600px);
}

.shadow{
	position:absolute;
	box-shadow: 0px 0px 20px 0px #000;
	border-radius:2px;
}

.ContentGames img{
	image-rendering:auto;
	transition:all 300ms;
	width:100%;
	height:100%;
}

.ContentGames img:hover{
	transform:scale(1.2);
	Transition:all 300ms;
}

@keyframes rotar{
	from{
		transform:rotateY(0deg);
	} to{
		transform:rotateY(360deg);
	}
}

/*Горно навигационно меню*/

.upNavBar{
	width: 100%;
	padding: 0px;
	text-align:center;
	top:0px;
	position: fixed;
}

.upNavBar ul {
	list-style:none;
	display: inline-block;
	background: black;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border:hidden;
}


.upNavBar li{
	float: left;
	width:150px;
	height:95px;
	line-height:95px;
	position:relative;
	cursor:pointer;
}

.upNavBar li a:hover{
	color: red;
}

ul #dropDownMenu{
	position: absolute;
	top:100%;
	left:0%;
	width:100%;
	padding:0;
	
}

nav ul li ul li{
	display:none;
	clear: both;
	width :100%;
	animation: animate 800ms forwards ease;
}

nav ul li ul li:nth-of-type(1){
	transform-origin: top left;
	transform: skewX(45deg) scaleY(0);
}

nav ul li ul li:nth-of-type(2){
	transform-origin: top right;
	transform: skewX(-45deg) scaleY(0);
	animation-delay: 150ms;
}

nav ul li ul li:nth-of-type(3){
	transform-origin: top right;
	transform: skewX(45deg) scaleY(0);
	animation-delay: 300ms;
}

nav ul li ul li:nth-of-type(4){
	transform-origin: top right;
	transform: skewX(-45deg) scaleY(0);
	animation-delay: 450ms;
}

nav ul li ul li:nth-of-type(5){
	transform-origin: top right;
	transform: skewX(45deg) scaleY(0);
	animation-delay: 600ms;
}

@keyframes animate{
	to{
		transform: skewX(0deg) scaleY(1);
	}
}

ul li:hover ul li{
	display:block;
}

nav ul li a {
	border:hidden;
}

/*nav menu logo*/
nav ul li img#navMenuLogo{
  display: block;
  width: 95px;
  height: 95px;
  margin:auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

nav ul li:hover .overlay {
  opacity: 2;
  background-color:black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text {
  color: red;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
